/* Grid Calisthenics */
.grid {
  display: grid;
  grid-template-columns: 3vw repeat(3, 1fr) 3vw;
  grid-template-rows: auto auto 20px auto 20px repeat(5, auto);
  grid-gap: 5px;
}

/* Header */
header {
  grid-column: 2/5;
  grid-row: 1/2;
}

/* Navbar */
nav {
  grid-column: 2/5;
  grid-row: 2/3;
}

/* Footer */
.faq1 {
  grid-column: 2/3;
  grid-row: 7/8;
}

.faq2 {
  grid-column: 3/4;
  grid-row: 7/8;
}

.faq3 {
  grid-column: 4/5;
  grid-row: 7/8;
}

/* Main site*/
#introduction {
  grid-column: 2/5;
  grid-row: 4/5;
}

#slideshow {
  grid-column: 2/5;
  grid-row: 6/7;
}

/* Program site */
.progBar {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: left;
}

.program {
  grid-column: 2/5;
  grid-row: 6/7;
}

@media only screen and (max-width: 800px) {}