/* Style Calisthenics */
/* Body */
body {
  background: whitesmoke;
}

/* Header */
header {
  margin: 0;
  padding: 0;
  border: 0;
}

header a {
  text-decoration: none;
  color: rgb(0, 113, 195);
  font-size: 6vw;
}

h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
}

/* Topnav */
nav {
  background-color: whitesmoke;
  overflow: hidden;
}

/* -Links */
nav a {
  float: left;
  color: rgb(0, 113, 195);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid rgb(0, 113, 195);
}

/* -Hover */
nav a:hover {
  background-color: rgb(150, 150, 150);
}

/* -Active */
nav a.active {
  background-color: rgb(0, 113, 195);
  color: whitesmoke;
  border: 1px solid rgb(0, 113, 195);
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/